<%- include("partials/header") -%>

<div class="back" style="position:absolute; width:100%; bottom:-20%;">
  <img src="/SVG/back.svg" alt="">
</div>

<div class="page-head">
  <svg id="profile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 537.43 70.6">
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width ="2px" d="M59.14,39.4c-.5-9.4-1.1-20.7-1-29.1h-.3c-2.3,7.9-5.1,16.3-8.5,25.6L37.44,68.6h-6.6L19.94,36.5c-3.2-9.5-5.9-18.2-7.8-26.2h-.2c-.2,8.4-.7,19.7-1.3,29.8L8.84,69H.54L5.24,1.6h11.1l11.5,32.6c2.8,8.3,5.1,15.7,6.8,22.7h.3c1.7-6.8,4.1-14.2,7.1-22.7L54,1.6h11.1L69.34,69h-8.5Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width ="2px" d="M102.74,69V40.4L81.43,1.6h9.9l9.51,18.6c2.6,5.1,4.6,9.2,6.7,13.9h.2c1.9-4.4,4.2-8.8,6.8-13.9l9.7-18.6h9.9l-22.6,38.7V69Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width ="2px" d="M173,2.4a100.83,100.83,0,0,1,16.7-1.3c8.6,0,14.9,2,18.9,5.6,3.7,3.2,5.91,8.1,5.91,14.1s-1.81,10.9-5.21,14.4c-4.6,4.9-12.1,7.4-20.6,7.4a30,30,0,0,1-7-.6V69H173Zm8.7,32.5a29.18,29.18,0,0,0,7.2.7c10.5,0,16.9-5.1,16.9-14.4,0-8.9-6.3-13.2-15.9-13.2a36.51,36.51,0,0,0-8.2.7Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width ="2px" d="M231.23,2.5a90.62,90.62,0,0,1,16.7-1.4c9.3,0,15.3,1.7,19.5,5.5a16.79,16.79,0,0,1,5.3,12.8c0,8.9-5.6,14.8-12.7,17.2v.3c5.2,1.8,8.3,6.6,9.9,13.6,2.2,9.4,3.8,15.9,5.2,18.5h-9c-1.1-1.9-2.6-7.7-4.5-16.1-2-9.3-5.6-12.8-13.5-13.1h-8.2V69h-8.7Zm8.7,30.7h8.9c9.3,0,15.2-5.1,15.2-12.8,0-8.7-6.3-12.5-15.5-12.6a35.79,35.79,0,0,0-8.6.8Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width ="2px" d="M347.93,34.6c0,23.2-14.1,35.5-31.3,35.5-17.8,0-30.3-13.8-30.3-34.2,0-21.4,13.3-35.4,31.3-35.4C336,.5,347.93,14.6,347.93,34.6Zm-52.3,1.1c0,14.4,7.8,27.3,21.5,27.3s21.6-12.7,21.6-28c0-13.4-7-27.4-21.5-27.4S295.63,20.9,295.63,35.7Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width ="2px"stoke-width ="2px" d="M364.23,1.6h36.3V8.9h-27.6V31.3h25.5v7.2h-25.5V69h-8.7Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width ="2px" d="M426.63,1.6V69h-8.7V1.6Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width ="2px" d="M446.83,1.6h8.7V61.7h28.8V69h-37.5Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width ="2px" d="M533.93,37.4h-26.2V61.7h29.2V69H499V1.6h36.4V8.9h-27.7V30.2h26.2Z"/>
  </svg>
</div>

<div class="user-details">
  <div class="user-img" data-aos="rotate-c">
    <img src="/SVG/user.png" alt="">
  </div>
  <div class="name" data-aos="rotate-c" data-aos-delay="500">
    <span><%= userName %></span>
  </div>
  <div class="email" data-aos="rotate-c" data-aos-delay="800">
    <span><%= userEmail %></span>
  </div>
</div>

<% if(userName=="" && userEmail==""){ %>
<div class="user-details-login">
  <a href="/register"><button class="explore" type="button" name="button">Login</button></a>
</div>
<% } %>
<% if(userName!="" && userEmail!=""){ %>
<div class="user-events" data-aos="fade-up" data-aos-delay="1000">
  <div class="user-events-head">
    <h2>Events Registered</h2>
  </div>
  <div class="user-events-list">
    <ul>
      <% userEvents.forEach((e)=>{ %>
          <li><%= e %></li>
      <% }) %>
    </ul>
  </div>
</div>
<% } %>



<%- include("partials/footer") -%>
